// GLOBAL VARIABLES
  
$main: #2A3050
$secondary: #384061
$highlight: #ef233c
$white: #edf2f4
$headline: 'Lato', sans-serif

// MEDIA QUERIES VAR

// Phones
$screen-xs: 480px 

// Small tablets and large smartphones (landscape view)
$screen-sm: 576px

// Small tablets (portrait view)
$screen-md: 768px

// Tablets and small desktops
$screen-lg: 992px

// Large tablets and desktops
$screen-xl: 1200px 

@import mixins

// GENERAL

*
  box-sizing: border-box
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

html, body
  margin: 0
  padding: 0
  font-family: 'Roboto', sans-serif

h1
  color: $main  

section
  padding: 80px 0

.wrapper
  display: flex
  flex-direction: row
  align-items: center
  width: 1140px
  max-width: 90%
  margin: 0 auto

// NAV ELEMENTS

.nav 
  background: $secondary
  padding: 0 1em
  @include lg
    position: fixed
    width: 100%
    z-index: 9990
    padding: 1.6em
  .menu-toggle
    position: fixed
    left: 25px
    top: 16px
    display: none
    width: 25px
    height: 25px
    cursor: pointer
    @include lg
      display: block
    
    i
      display: block
      width: 100%
      height: 2px
      background: $white
      border-radius: 2px
      margin-bottom: 6px
  .page-links
    margin: 0
    padding: 0
    display: flex
    justify-content: space-around
    flex-grow: 1
    margin: 0 auto
    max-width: 500px
    @include lg
      max-width: 100%
      width: 100%
      order: 2
      margin: 0
      flex-direction: column
      flex-grow: 0
      text-align: right
    li
      list-style: none
      @include lg
        margin-bottom: 1.5em
      a
        font-family: 'Lato', sans-serif;
        text-transform: uppercase
        font-size: 1.25em
        text-decoration: none
        color: $white
        font-weight: 700
        transition: all .3s ease-in-out
        // margin-right: 2em
        @include lg
          font-size: 2em
        &:hover
          color: $highlight

  .spacer
    flex: 1  

.nav-wrapper
  display: flex
  flex-direction: row
  align-items: center
  padding: 0 2em
  @include lg
    position: fixed
    top: 0
    left: 0
    z-index: 999
    width: 45%
    height: 100vh
    background: $secondary
    flex-direction: column
    padding: 0 4em
    box-shadow: 5px 5px 8px -1px rgba(0,0,0,0.38)
    transform: translateX(-105%)
    transition: transform .3s ease

  @include md
    width: 65%  
    
  @include xs
    width: 100%  
  .social-links
    display: flex
    list-style: none
    width: 15em
    padding: 0
    @include lg
      width: 100%
      order: 3
      font-size: 1.9em
      margin-top: 1em
      justify-content: flex-end
    i
      color: $white
      padding: 0 10px
      transition: all .3s ease-in-out
      @include lg
        padding: 0 0 0 .9em
      &:hover
        cursor: pointer
        color: $highlight
  .user-area
    display: flex
    padding: 0
    width: 15em
    justify-content: flex-end
    list-style: none
    @include lg
      width: 100%
      font-size: 1.2em
      order: 1
      -webkit-box-pack: end
      margin: 5em 0 2em
    i
      margin: 0 12px
      color: $white
      transition: all .3s ease-in-out
      @include lg
        margin: 0 0 0 1.1em
      &:hover
        cursor: pointer
        color: $highlight       

.slide-in
  transform: translateX(0)

.close
  position: fixed
  right: 22px
  top: 16px
  display: none
  color: $white
  font-size: 2em
  width: 25px
  height: 25px
  cursor: pointer
  @include lg
    display: block                 


.banner
  background-color: $main
  background-image: url(../images/skulls-blue.png)
  background-repeat: repeat
  background-position-y: 25%
  @include lg
    padding-top: 50px
  img
    width: 65%
    padding: 3em 0
    margin: 0 auto
    @include md
      width: 85%
    @include xs
      width: 95% 
      padding: 1.6em 0 


// TOP SELLER SECTION

.shop-items
  h1
    text-align: center
    margin: 0
    font-size: 2.7em
    font-family: $headline
    font-weight: 900
    text-transform: uppercase
    @include xs
      font-size: 2.2em
  .grid-container
    display: grid
    grid-template-columns: repeat(4, 25%)
    grid-gap: 1em
    place-content: center
    max-width: 1200px
    padding: 2em 4em
    margin: 0 auto 
    @include lg
      grid-template-columns: repeat(2, 50%) 
    @include md
      grid-template-columns: 1fr

    figure
      margin: 0
      padding: 0
      transition: all ease 0.3s
      
      img
        width: 100%
        max-width: 100%
        transition: all ease 0.5s

      figcaption
        display: flex
        flex-direction: column
        align-items: flex-start

        .info-wrapper
          padding: 10px 18px
        h2
          font-size: 1.3em
          line-height: 1
          text-transform: uppercase
          margin: 0 0 12px
        p
          margin: 0 0 12px
        .price
          font-weight: 700
          color: $main 
    figure:hover
      cursor: pointer
      img
        box-shadow: 3px 5px 15px -3px rgba(0,0,0,0.38)

// FEATURE BRANDS SECTION 

.shop-brands
  background: #f7f7f7
  width: 100%
  margin: 0 auto
  padding: 60px
  @include xs
    padding: 60px 10px
  h1
    text-align: center
    margin: 0 0 60px
    font-size: 2.7em
    font-family: $headline
    font-weight: 900
    text-transform: uppercase
    @include xs
      font-size: 2.2em
.brands-wrapper
  display: flex
  margin: 0 auto
  max-width: 1400px
  @include md
    flex-direction: column

.feature-brand
  padding: 0 10px
  @include md
    padding: 0 50px 35px

  img
    width: 100%
    transition: all .3s ease-in-out
  a
    text-decoration: none
    text-transform: uppercase
    color: $white
    font-size: 1.5em

    strong
      font-weight: 700
      background: $main
      padding: 2px 8px

  p
    text-align: center
    transition: all 0.3s ease-in-out

  &:hover
    p
     transform: translateY(5px)
    img
      box-shadow: 5px 5px 8px -1px rgba(0,0,0,0.38)

// HIGHLIGHTS SECTION 

.shop-highlights
  max-width: 1200px
  margin: 0 auto
  @include xs
    padding: 50px 0

.highlights__row
  display: flex
  align-items: center
  justify-content: center
  @include md
    flex-direction: column

.highlights__column
  display: flex
  flex-direction: column
  @include md
    flex-direction: row
  a
    color: $main
    text-decoration: none
    text-align: center
    font-size: 1.2em
    @include xs
      font-size: 1em  
    span
      display: inline-block
      margin: 0 auto 20px
      padding-bottom: 6px
      border-bottom: 1px solid $main

      &:hover
        color: $highlight
        border-bottom: 1px solid $highlight
      
    .highlights-img
      display: flex
      align-items: center
      overflow: hidden
      margin: 20px
      @include md
        margin: 20px 10px
      img
        width: 100%
        transform: scale(1.03)
        transition: transform .3s ease-in-out   
        &:hover
          transform: scale(1)

// FIND YOUR PAIR SECTION 

.find-your-pair
  background: #f7f7f7
  @include xs
    padding: 35px 0

.shoe-type-wrapper
  display: flex
  max-width: 1200px
  margin: 0 auto
  @include xs
    flex-direction: column
    align-items: center

.shoes-type
  width: 33.3%
  margin: 10px 2%
  @include xs
    width: 90%

.product-wrapper
  cursor: pointer
  text-align: center
  background: #fff
  padding: 0 0 40px
  &:hover
    h3
      color: $highlight
      border-bottom: 1px solid #FFFFFF

  @include xs  
    display: flex
    justify-content: center
    align-items: center
    padding: 0 0 20px    

.image
  padding: 5px
  display: inline-block
  max-width: 200px 
  img
    max-width: 100%
    @include xs 
      max-width: 75%
      // margin-left: -70px 

.description
  cursor: pointer
  text-align: center
  @include xs
    margin-right: 40px
  h3
    color: $main
    text-transform: uppercase
    margin: 20px 0 10px
    border-bottom: 1px solid $main
    display: inline-block
    cursor: pointer
    padding-bottom: 6px
    @include xs
      margin-bottom: 0 

// FULL WIDTH PROMO

.hero-promo
  overflow: hidden
  position: relative
  padding: 0
  a
    text-decoration: none

.promo-banner-wrap
  overflow: hidden
  position: relative
  text-align: center
  z-index: 1
  img 
    width: 100%

.content-inner
  width: 100%
  transform: translateY(-50%)
  position: absolute
  top: 40%
  z-index: 4
  text-align: left
  @include md
    position: static
    text-align: center
    transform: none

.content-inner__wrapper
  padding: 5em
  @include md
    border-bottom: 1px solid $main
    padding: 25px 5em
  @include xs
    padding: 25px 3em    

.promo-text
  h1
    font-size: 3em
    font-family: $headline
    font-weight: 900
    text-transform: uppercase
    color: $white
    margin: 0
    padding: 0
    margin-bottom: 10px
    text-shadow: 3px 2px 3px rgba(12,27,68,0.73)
    @include md
      font-size: 2em
      font-weight: 700
      color: $main
      text-shadow: none
    @include lg
      font-size: 2.5em
    @include xs
      font-size: 1.8em   

.promo-btn
  button
    background: $white
    cursor: pointer
    padding: 10px 40px
    text-transform: uppercase
    font-weight: bold
    border: none
    transition: all .3s ease-in-out
    @include md
      width: 100%
      border: 1px solid $main
    &:hover
      background: $main
      color: $white      

// SUPPORT SECTION
 
.support
  background: #f7f7f7
  padding: 35px 0

.support__wrapper
  max-width: 1200px
  display: grid
  grid-template-columns: repeat(4, 25%)
  place-content: center
  margin: 0 auto
  padding: 0 35px
  @include lg
    width: 75%
    grid-template-columns: repeat(2, 50%)
    grid-row-gap: 3em;
  @include md
    width: 90%
    padding: 0 

.support__item
  display: flex
  flex-direction: column
  align-items: center
  text-align: center 
  i
    margin-bottom: 5px   
  strong
    font-size: 1.4em
    margin-bottom: 5px
    @include xs
      font-size: 1em  
  p
    margin: 0
    text-align: center
    font-size: .8em
    @include xs
      display: none    

// FOOTER

#footer__main
  background-color: $main
  background-image: url(../images/skulls-blue.png)
  background-repeat: repeat
  background-position-y: -45%
  padding: 50px 0 0

.newsletter-signup
  padding: 0 0 50px

.signup-wrapper
  display: flex
  flex-direction: column
  align-items: center

  h2
    font-size: 2em
    color: $white
    margin-top: 0
    font-family: $headline
    font-weight: 900
    text-transform: uppercase

  input
    height: 44px
    padding: 0 160px 0 20px
    @include md
      padding: 0 0 0 25px
      width: 65%   

  .subscribe-btn
    height: 44px
    color: $white
    font-weight: bold
    background: $secondary
    border: none
    padding: 0 40px
    text-transform: uppercase
    cursor: pointer
    &:hover
      background: $main

#signup-form
  display: flex
  justify-content: center
  width: 100%      

.footer-links
  padding: 35px 0
  background: $secondary 

.links-wrapper
  display: grid
  grid-template-columns: repeat(4, 25%)
  place-content: center
  max-width: 1200px
  margin: 0 auto
  @include lg
    width: 75%
    grid-template-columns: repeat(2, 50%)
  @include xs
    width: 90%    

.links-container
  display: flex
  flex-direction: column
  align-items: center
  color: $white
  padding-left: 50px
  h2
   @include sm
      font-size: 1.2em
  ul
    list-style: none
    margin: 0 50px 0 0
    padding: 0
    @include sm
      margin: 0 25px 0 0 
    li
      margin-bottom: 10px
      a
        text-decoration: none
        color: $white
        margin-bottom: 10px
        &:hover
          color: $highlight
  @include lg
    padding-left: 0


.footer-logo__wrapper
   display: flex
   justify-content: center
   align-items: center
   img
     width: 100%
     max-width: 250px
     padding: 0 25px 0 0
     @include lg
       padding: 0     


    
