* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: #2A3050;
}

section {
  padding: 80px 0;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1140px;
  max-width: 90%;
  margin: 0 auto;
}

.nav {
  background: #384061;
  padding: 0 1em;
}

@media (max-width: 992px) {
  .nav {
    position: fixed;
    width: 100%;
    z-index: 9990;
    padding: 1.6em;
  }
}

.nav .menu-toggle {
  position: fixed;
  left: 25px;
  top: 16px;
  display: none;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

@media (max-width: 992px) {
  .nav .menu-toggle {
    display: block;
  }
}

.nav .menu-toggle i {
  display: block;
  width: 100%;
  height: 2px;
  background: #edf2f4;
  border-radius: 2px;
  margin-bottom: 6px;
}

.nav .page-links {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 auto;
  max-width: 500px;
}

@media (max-width: 992px) {
  .nav .page-links {
    max-width: 100%;
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    text-align: right;
  }
}

.nav .page-links li {
  list-style: none;
}

@media (max-width: 992px) {
  .nav .page-links li {
    margin-bottom: 1.5em;
  }
}

.nav .page-links li a {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-size: 1.25em;
  text-decoration: none;
  color: #edf2f4;
  font-weight: 700;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

@media (max-width: 992px) {
  .nav .page-links li a {
    font-size: 2em;
  }
}

.nav .page-links li a:hover {
  color: #ef233c;
}

.nav .spacer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2em;
}

@media (max-width: 992px) {
  .nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 45%;
    height: 100vh;
    background: #384061;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 4em;
    -webkit-box-shadow: 5px 5px 8px -1px rgba(0, 0, 0, 0.38);
            box-shadow: 5px 5px 8px -1px rgba(0, 0, 0, 0.38);
    -webkit-transform: translateX(-105%);
            transform: translateX(-105%);
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
  }
}

@media (max-width: 768px) {
  .nav-wrapper {
    width: 65%;
  }
}

@media (max-width: 480px) {
  .nav-wrapper {
    width: 100%;
  }
}

.nav-wrapper .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 15em;
  padding: 0;
}

@media (max-width: 992px) {
  .nav-wrapper .social-links {
    width: 100%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    font-size: 1.9em;
    margin-top: 1em;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
}

.nav-wrapper .social-links i {
  color: #edf2f4;
  padding: 0 10px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

@media (max-width: 992px) {
  .nav-wrapper .social-links i {
    padding: 0 0 0 .9em;
  }
}

.nav-wrapper .social-links i:hover {
  cursor: pointer;
  color: #ef233c;
}

.nav-wrapper .user-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  width: 15em;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  list-style: none;
}

@media (max-width: 992px) {
  .nav-wrapper .user-area {
    width: 100%;
    font-size: 1.2em;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 5em 0 2em;
  }
}

.nav-wrapper .user-area i {
  margin: 0 12px;
  color: #edf2f4;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

@media (max-width: 992px) {
  .nav-wrapper .user-area i {
    margin: 0 0 0 1.1em;
  }
}

.nav-wrapper .user-area i:hover {
  cursor: pointer;
  color: #ef233c;
}

.slide-in {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.close {
  position: fixed;
  right: 22px;
  top: 16px;
  display: none;
  color: #edf2f4;
  font-size: 2em;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

@media (max-width: 992px) {
  .close {
    display: block;
  }
}

.banner {
  background-color: #2A3050;
  background-image: url(../images/skulls-white.png);
  background-blend-mode: multiply;
  background-repeat: repeat;
  background-position-y: 25%;
  -webkit-filter: brightness(1) contrast(1.1);
          filter: brightness(1) contrast(1.1);
}

@media (max-width: 992px) {
  .banner {
    padding-top: 50px;
  }
}

.banner img {
  width: 65%;
  padding: 3em 0;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .banner img {
    width: 85%;
  }
}

@media (max-width: 480px) {
  .banner img {
    width: 95%;
    padding: 1.6em 0;
  }
}

.shop-items h1 {
  text-align: center;
  margin: 0;
  font-size: 2.7em;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

@media (max-width: 480px) {
  .shop-items h1 {
    font-size: 2.2em;
  }
}

.shop-items .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (25%)[4];
      grid-template-columns: repeat(4, 25%);
  grid-gap: 1em;
  place-content: center;
  max-width: 1200px;
  padding: 2em 4em;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .shop-items .grid-container {
    -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
  }
}

@media (max-width: 768px) {
  .shop-items .grid-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.shop-items .grid-container figure {
  margin: 0;
  padding: 0;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.shop-items .grid-container figure img {
  width: 100%;
  max-width: 100%;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.shop-items .grid-container figure figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.shop-items .grid-container figure figcaption .info-wrapper {
  padding: 10px 18px;
}

.shop-items .grid-container figure figcaption h2 {
  font-size: 1.3em;
  line-height: 1;
  text-transform: uppercase;
  margin: 0 0 12px;
}

.shop-items .grid-container figure figcaption p {
  margin: 0 0 12px;
}

.shop-items .grid-container figure figcaption .price {
  font-weight: 700;
  color: #2A3050;
}

.shop-items .grid-container figure:hover {
  cursor: pointer;
}

.shop-items .grid-container figure:hover img {
  -webkit-box-shadow: 3px 5px 15px -3px rgba(0, 0, 0, 0.38);
          box-shadow: 3px 5px 15px -3px rgba(0, 0, 0, 0.38);
}

.shop-brands {
  background: #f7f7f7;
  width: 100%;
  margin: 0 auto;
  padding: 60px;
}

@media (max-width: 480px) {
  .shop-brands {
    padding: 60px 10px;
  }
}

.shop-brands h1 {
  text-align: center;
  margin: 0 0 60px;
  font-size: 2.7em;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

@media (max-width: 480px) {
  .shop-brands h1 {
    font-size: 2.2em;
  }
}

.brands-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 1400px;
}

@media (max-width: 768px) {
  .brands-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.feature-brand {
  padding: 0 10px;
}

@media (max-width: 768px) {
  .feature-brand {
    padding: 0 50px 35px;
  }
}

.feature-brand img {
  width: 100%;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.feature-brand a {
  text-decoration: none;
  text-transform: uppercase;
  color: #edf2f4;
  font-size: 1.5em;
}

.feature-brand a strong {
  font-weight: 700;
  background: #2A3050;
  padding: 2px 8px;
}

.feature-brand p {
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.feature-brand:hover p {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.feature-brand:hover img {
  -webkit-box-shadow: 5px 5px 8px -1px rgba(0, 0, 0, 0.38);
          box-shadow: 5px 5px 8px -1px rgba(0, 0, 0, 0.38);
}

.shop-highlights {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 480px) {
  .shop-highlights {
    padding: 50px 0;
  }
}

.highlights__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .highlights__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.highlights__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 768px) {
  .highlights__column {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.highlights__column a {
  color: #2A3050;
  text-decoration: none;
  text-align: center;
  font-size: 1.2em;
}

@media (max-width: 480px) {
  .highlights__column a {
    font-size: 1em;
  }
}

.highlights__column a span {
  display: inline-block;
  margin: 0 auto 20px;
  padding-bottom: 6px;
  border-bottom: 1px solid #2A3050;
}

.highlights__column a span:hover {
  color: #ef233c;
  border-bottom: 1px solid #ef233c;
}

.highlights__column a .highlights-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  margin: 20px;
}

@media (max-width: 768px) {
  .highlights__column a .highlights-img {
    margin: 20px 10px;
  }
}

.highlights__column a .highlights-img img {
  width: 100%;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.highlights__column a .highlights-img img:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.find-your-pair {
  background: #f7f7f7;
}

@media (max-width: 480px) {
  .find-your-pair {
    padding: 35px 0;
  }
}

.shoe-type-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 480px) {
  .shoe-type-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.shoes-type {
  width: 33.3%;
  margin: 10px 2%;
}

@media (max-width: 480px) {
  .shoes-type {
    width: 90%;
  }
}

.product-wrapper {
  cursor: pointer;
  text-align: center;
  background: #fff;
  padding: 0 0 40px;
}

.product-wrapper:hover h3 {
  color: #ef233c;
  border-bottom: 1px solid #FFFFFF;
}

@media (max-width: 480px) {
  .product-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 0 20px;
  }
}

.image {
  padding: 5px;
  display: inline-block;
  max-width: 200px;
}

.image img {
  max-width: 100%;
}

@media (max-width: 480px) {
  .image img {
    max-width: 75%;
  }
}

.description {
  cursor: pointer;
  text-align: center;
}

@media (max-width: 480px) {
  .description {
    margin-right: 40px;
  }
}

.description h3 {
  color: #2A3050;
  text-transform: uppercase;
  margin: 20px 0 10px;
  border-bottom: 1px solid #2A3050;
  display: inline-block;
  cursor: pointer;
  padding-bottom: 6px;
}

@media (max-width: 480px) {
  .description h3 {
    margin-bottom: 0;
  }
}

.hero-promo {
  overflow: hidden;
  position: relative;
  padding: 0;
}

.hero-promo a {
  text-decoration: none;
}

.promo-banner-wrap {
  overflow: hidden;
  position: relative;
  text-align: center;
  z-index: 1;
}

.promo-banner-wrap img {
  width: 100%;
}

.content-inner {
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  top: 40%;
  z-index: 4;
  text-align: left;
}

@media (max-width: 768px) {
  .content-inner {
    position: static;
    text-align: center;
    -webkit-transform: none;
            transform: none;
  }
}

.content-inner__wrapper {
  padding: 5em;
}

@media (max-width: 768px) {
  .content-inner__wrapper {
    border-bottom: 1px solid #2A3050;
    padding: 25px 5em;
  }
}

@media (max-width: 480px) {
  .content-inner__wrapper {
    padding: 25px 3em;
  }
}

.promo-text h1 {
  font-size: 3em;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  color: #edf2f4;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  text-shadow: 3px 2px 3px rgba(12, 27, 68, 0.73);
}

@media (max-width: 768px) {
  .promo-text h1 {
    font-size: 2em;
    font-weight: 700;
    color: #2A3050;
    text-shadow: none;
  }
}

@media (max-width: 992px) {
  .promo-text h1 {
    font-size: 2.5em;
  }
}

@media (max-width: 480px) {
  .promo-text h1 {
    font-size: 1.8em;
  }
}

.promo-btn button {
  background: #edf2f4;
  cursor: pointer;
  padding: 10px 40px;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

@media (max-width: 768px) {
  .promo-btn button {
    width: 100%;
    border: 1px solid #2A3050;
  }
}

.promo-btn button:hover {
  background: #2A3050;
  color: #edf2f4;
}

.support {
  background: #f7f7f7;
  padding: 35px 0;
}

.support__wrapper {
  max-width: 1200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (25%)[4];
      grid-template-columns: repeat(4, 25%);
  place-content: center;
  margin: 0 auto;
  padding: 0 35px;
}

@media (max-width: 992px) {
  .support__wrapper {
    width: 75%;
    -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
    grid-row-gap: 3em;
  }
}

@media (max-width: 768px) {
  .support__wrapper {
    width: 90%;
    padding: 0;
  }
}

.support__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.support__item i {
  margin-bottom: 5px;
}

.support__item strong {
  font-size: 1.4em;
  margin-bottom: 5px;
}

@media (max-width: 480px) {
  .support__item strong {
    font-size: 1em;
  }
}

.support__item p {
  margin: 0;
  text-align: center;
  font-size: .8em;
}

@media (max-width: 480px) {
  .support__item p {
    display: none;
  }
}

footer {
  background-color: #2A3050;
  background-image: url(../images/skulls-white.png);
  background-blend-mode: multiply;
  background-repeat: repeat;
  background-position-y: -45%;
  -webkit-filter: brightness(1) contrast(1.1);
          filter: brightness(1) contrast(1.1);
  padding: 50px 0 0;
}

.newsletter-signup {
  padding: 0 0 50px;
}

.signup-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signup-wrapper h2 {
  font-size: 2em;
  color: #edf2f4;
  margin-top: 0;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

.signup-wrapper input {
  height: 44px;
  padding: 0 160px 0 20px;
}

@media (max-width: 768px) {
  .signup-wrapper input {
    padding: 0 0 0 25px;
    width: 65%;
  }
}

.signup-wrapper .subscribe-btn {
  height: 44px;
  color: #edf2f4;
  font-weight: bold;
  background: #384061;
  border: none;
  padding: 0 40px;
  text-transform: uppercase;
  cursor: pointer;
}

.signup-wrapper .subscribe-btn:hover {
  background: #2A3050;
}

#signup-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.footer-links {
  padding: 35px 0;
  background: #384061;
}

.links-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (25%)[4];
      grid-template-columns: repeat(4, 25%);
  place-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .links-wrapper {
    width: 75%;
    -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
  }
}

@media (max-width: 480px) {
  .links-wrapper {
    width: 90%;
  }
}

.links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #edf2f4;
  padding-left: 50px;
}

@media (max-width: 576px) {
  .links-container h2 {
    font-size: 1.2em;
  }
}

.links-container ul {
  list-style: none;
  margin: 0 50px 0 0;
  padding: 0;
}

@media (max-width: 576px) {
  .links-container ul {
    margin: 0 25px 0 0;
  }
}

.links-container ul li {
  margin-bottom: 10px;
}

.links-container ul li a {
  text-decoration: none;
  color: #edf2f4;
  margin-bottom: 10px;
}

.links-container ul li a:hover {
  color: #ef233c;
}

@media (max-width: 992px) {
  .links-container {
    padding-left: 0;
  }
}

.footer-logo__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-logo__wrapper img {
  width: 100%;
  max-width: 250px;
  padding: 0 25px 0 0;
}

@media (max-width: 992px) {
  .footer-logo__wrapper img {
    padding: 0;
  }
}
/*# sourceMappingURL=styles.css.map */