* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

section {
  padding: 80px 0;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1140px;
  max-width: 90%;
  margin: 0 auto;
}

.nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2em;
}

.nav-wrapper .social-links {
  width: 15em;
}

.nav-wrapper .social-links i {
  color: #F9F9E7;
  padding: 0 10px;
}

.nav-wrapper .user-area {
  width: 15em;
  text-align: right;
}

.nav-wrapper .user-area a {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  text-decoration: none;
  color: #F9F9E7;
  font-weight: 700;
  margin-right: 2em;
}

.nav-wrapper .user-area a:hover {
  color: #38C0CB;
}

.banner {
  background-color: #2A3050;
  background-image: url(../images/skulls.png);
  background-blend-mode: multiply;
  background-repeat: repeat;
  -webkit-filter: brightness(1.3) contrast(1.4);
          filter: brightness(1.3) contrast(1.4);
}

.banner img {
  width: 65%;
  padding: 3em 0;
  margin: 0 auto;
}

.banner h1 {
  font-family: 'Permanent Marker', cursive;
  color: #F9F9E7;
  text-transform: uppercase;
  padding: 1em 0;
  margin: 0;
  font-size: 5em;
}

.nav {
  background: #384061;
  padding: 1em;
}

.nav .page-links {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 auto;
}

.nav .page-links li {
  list-style: none;
}

.nav .page-links li a {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-size: 1.25em;
  text-decoration: none;
  color: #F9F9E7;
  font-weight: 700;
  margin-right: 2em;
}

.nav .page-links li a:hover {
  color: #38C0CB;
}

.nav .spacer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.nav .search {
  margin-right: 0;
  padding-right: .7em;
  color: #F9F9E7;
}

.nav .search:hover {
  color: #F9F9E7;
}

.nav input[type="search"] {
  background: transparent;
  outline: none;
  border: none;
  color: #F9F9E7;
  font-style: italic;
  font-size: 1.25em;
  font-weight: 400;
  padding: 1em .5em;
  width: 8em;
}

.feature {
  height: 500px;
  background: url(../images/feature_img.jpg);
  background-size: cover;
  background-position: center;
  padding: 100px;
  color: #F9F9E7;
}

.feature h1 {
  margin: 0;
  padding: 0;
}

.feature h2 {
  margin: 0;
  padding: 0;
}

.shop-items h1 {
  text-align: center;
  margin: 0;
  font-size: 3em;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}

.shop-items .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (25%)[4];
      grid-template-columns: repeat(4, 25%);
  grid-gap: 1em;
  place-content: center;
  max-width: 1200px;
  padding: 2em 4em;
  margin: 0 auto;
}

.shop-items .grid-container figure {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.shop-items .grid-container figure img {
  width: 100%;
  height: 100%;
  max-width: 100%;
}

.shop-items .grid-container figure figcaption {
  background: rgba(56, 192, 203, 0.85);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5em;
  height: 100%;
  width: 100%;
  position: absolute;
  top: auto;
  bottom: 0;
  opacity: 0;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.shop-items .grid-container figure figcaption h2 {
  color: #F9F9E7;
  font-size: 1.5em;
  line-height: 1;
  text-transform: uppercase;
  margin: 0 0 12px;
}

.shop-items .grid-container figure figcaption p {
  margin: 0 0 12px;
}

.shop-items .grid-container figure figcaption button {
  border: 2px solid #F9F9E7;
  background: transparent;
  padding: .6em;
  border-radius: .5em;
}

.shop-items .grid-container figure figcaption button a {
  color: #F9F9E7;
  text-decoration: none;
  font-size: .9em;
}

.shop-items .grid-container figure figcaption .price {
  font-weight: 700;
  color: #2A3050;
}

.shop-items .grid-container figure:hover figcaption {
  opacity: 1;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.shop-brands {
  background: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.brands-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1400px;
}

.feature-brand {
  padding: 0 10px;
}

.feature-brand img {
  width: 100%;
}

.feature-brand a {
  text-decoration: none;
  text-transform: uppercase;
  color: #F9F9E7;
  font-size: 1.5em;
}

.feature-brand a strong {
  font-weight: 700;
  background: #2A3050;
  padding: 2px 8px;
}

.feature-brand p {
  text-align: center;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.feature-brand:hover p {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

footer {
  background-color: #2A3050;
  background-image: url(../images/skulls.png);
  background-blend-mode: multiply;
  background-repeat: repeat;
  -webkit-filter: brightness(1.3) contrast(1.4);
          filter: brightness(1.3) contrast(1.4);
  padding: 50px;
}
/*# sourceMappingURL=styles.css.map */