$main: #2A3050
$secondary: #384061
$highlight: #ef233c
$white: #edf2f4
$headline: 'Lato', sans-serif

*
  box-sizing: border-box
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

html, body
  margin: 0
  padding: 0
  font-family: 'Roboto', sans-serif

h1
  color: $main  

section
  padding: 80px 0

.wrapper
  display: flex
  flex-direction: row
  align-items: center
  width: 1140px
  max-width: 90%
  margin: 0 auto

.nav-wrapper
  display: flex
  flex-direction: row
  align-items: center
  padding: 0 2em
  .social-links
    width: 15em
    i
      color: $white
      padding: 0 10px
      transition: all .3s ease-in-out
      &:hover
        cursor: pointer
        color: $highlight 
 

  .user-area
    width: 15em
    text-align: right
    a
      font-family: 'Lato', sans-serif
      font-size: 1em
      text-decoration: none
      color: $white
      font-weight: 700
      margin-right: 2em
      transition: all .3s ease-in-out
      &:hover
        color: $highlight
    i
      transition: all .3s ease-in-out
      &:hover
        cursor: pointer
        color: $highlight    


.banner
  background-color: $main
  background-image: url(../images/skulls-white.png)
  background-blend-mode: multiply
  background-repeat: repeat
  background-position-y: 25%
  filter: brightness(1) contrast(1.1)
  img
    width: 65%
    padding: 3em 0
    margin: 0 auto
  h1
    font-family: 'Permanent Marker', cursive
    color: $white
    text-transform: uppercase
    padding: 1em 0
    margin: 0
    font-size: 5em

.nav 
  background: $secondary
  padding: 1em
  .page-links
    margin: 0
    padding: 0
    display: flex
    justify-content: space-around
    flex-grow: 1
    margin: 0 auto
    max-width: 500px
    li
      list-style: none
      a
        font-family: 'Lato', sans-serif;
        text-transform: uppercase
        font-size: 1.25em
        text-decoration: none
        color: $white
        font-weight: 700
        transition: all .3s ease-in-out
        // margin-right: 2em
        &:hover
          color: $highlight

  .spacer
    flex: 1
  .search
    margin-right: 0
    // border-right: 1px solid $highlight
    padding-right: .7em
    color: $white

.shop-items
  h1
    text-align: center
    margin: 0
    font-size: 2.7em
    font-family: $headline
    font-weight: 900
    text-transform: uppercase
  .grid-container
    display: grid
    grid-template-columns: repeat(4, 25%)
    grid-gap: 1em
    place-content: center
    max-width: 1200px
    padding: 2em 4em
    margin: 0 auto

    figure
      margin: 0
      padding: 0
      transition: all ease 0.3s
      
      img
        width: 100%
        max-width: 100%
        transition: all ease 0.5s

      figcaption
        display: flex
        flex-direction: column
        align-items: left

        .info-wrapper
          padding: 10px 18px
        h2
          font-size: 1.3em
          line-height: 1
          text-transform: uppercase
          margin: 0 0 12px
        p
          margin: 0 0 12px
        .price
          font-weight: 700
          color: $main 
    figure:hover
      cursor: pointer
      img
        box-shadow: 3px 5px 15px -3px rgba(0,0,0,0.38);

.shop-brands
  background: #f7f7f7
  // display: flex
  // justify-content: center
  width: 100%
  margin: 0 auto
  padding: 60px
  h1
    text-align: center
    margin: 0 0 60px
    font-size: 2.7em
    font-family: $headline
    font-weight: 900
    text-transform: uppercase
.brands-wrapper
  display: flex
  margin: 0 auto
  max-width: 1400px

.feature-brand
  padding: 0 10px

  img
    width: 100%
  a
    text-decoration: none
    text-transform: uppercase
    color: $white
    font-size: 1.5em

    strong
      font-weight: 700
      background: $main
      padding: 2px 8px

  p
    text-align: center
    transition: all ease-in-out 0.3s

  &:hover
    p
     transform: translateY(5px)

.shop-highlights
  max-width: 1200px
  margin: 0 auto

.highlights__row
  display: flex
  align-items: center
  justify-content: center

.highlights__column
  display: flex
  flex-direction: column
  a
    color: $main
    text-decoration: none
    text-align: center
    font-size: 1.2em
    span
      display: inline-block
      margin: 0 auto 20px
      padding-bottom: 6px
      border-bottom: 1px solid $main
      &:hover
        color: $highlight
        border-bottom: 1px solid $highlight
      
    .highlights-img
      display: flex
      align-items: center
      overflow: hidden
      margin: 20px
      img
        width: 100%
        transform: scale(1.03)
        transition: transform .15s ease-in-out   
        &:hover
          transform: scale(1)

.find-your-pair
  background: #f7f7f7

.shoe-type-wrapper
  display: flex
  max-width: 1200px
  margin: 0 auto

.shoes-type
  width: 33.3%
  margin: 0 2%

.product-wrapper
  cursor: pointer
  text-align: center
  background: #fff
  padding: 0 0 40px
  &:hover
    h3
      color: $highlight
      border-bottom: 1px solid #FFFFFF

.image
  padding: 5px
  display: inline-block
  max-width: 200px 
  img
    max-width: 100%
    height: auto 

.description
  cursor: pointer
  text-align: center
  h3
    color: $main
    text-transform: uppercase
    margin: 20px 0 10px
    border-bottom: 1px solid $main
    display: inline-block
    cursor: pointer
    padding-bottom: 6px

.hero-promo
  overflow: hidden
  position: relative
  padding: 0
  a
    text-decoration: none

.promo-banner-wrap
  overflow: hidden
  position: relative
  text-align: center
  z-index: 1
  img 
    width: 100%

.content-inner
  width: 100%
  transform: translateY(-50%)
  position: absolute
  top: 30%
  z-index: 4
  text-align: right

.content-inner__wrapper
  padding: 5em

.promo-text
  h1
    font-size: 3em
    font-family: $headline
    font-weight: 900
    text-transform: uppercase
    color: $white
    margin: 0
    padding: 0
    margin-bottom: 10px

.promo-btn
  button
    background: $white
    cursor: pointer
    padding: 10px 40px
    text-transform: uppercase
    font-weight: bold
    border: none
    transition: all .3s ease-in-out
    &:hover
      background: $main
      color: $white      


 
.support
  background: #f7f7f7
  padding: 35px 0

.support__wrapper
  max-width: 1200px
  display: flex
  justify-content: center
  margin: 0 auto

.support__item
  display: flex
  flex-direction: column
  align-items: center
  width: 25% 
  i
    margin-bottom: 5px   
  strong
    font-size: 1.4em
    margin-bottom: 5px  
  p
    margin: 0
    text-align: center    



footer
  background-color: $main
  background-image: url(../images/skulls-white.png)
  background-blend-mode: multiply
  background-repeat: repeat
  background-position-y: center
  filter: brightness(1) contrast(1.1)
  padding: 50px 0 0

.newsletter-signup
  padding: 0 0 50px

.signup-wrapper
  display: flex
  flex-direction: column
  align-items: center

  h2
    font-size: 2em
    color: $white
    margin-top: 0
    font-family: $headline
    font-weight: 900
    text-transform: uppercase

  input
    height: 44px
    padding: 0 160px 0 20px  

  .subscribe-btn
    height: 44px
    color: $white
    font-weight: bold
    background: $secondary
    border: none
    padding: 0 40px
    text-transform: uppercase
    cursor: pointer
    &:hover
      background: $main

.footer-links
  padding: 35px 0
  background: $secondary 

.links-wrapper
  display: flex
  max-width: 1200px
  margin: 0 auto  

.links-container
  display: flex
  flex-direction: column
  color: $white
  padding-left: 50px
  width: 25%
  ul
    list-style: none
    padding: 0
    li
      margin-bottom: 10px
      a
        text-decoration: none
        color: $white
        margin-bottom: 10px
        &:hover
          color: $highlight

.footer-logo__wrapper
   display: flex
   justify-content: center
   align-items: center
   img
     width: 100%
     padding: 0 25px 0 0       


    
